.hero{

    min-height:90vh;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 80px;

    gap:80px;
}

.hero-left{

    flex:1;
}

.hero-content{

    max-width:700px;
}

.greeting{

    color:#38bdf8;

    font-size:22px;

    margin-bottom:15px;
}

.hero-name{

    font-size:72px;

    color:white;

    margin-bottom:15px;
}

.hero-title{

    color:#d1d5db;

    font-size:34px;

    margin-bottom:20px;
}

.hero-description{

    color:#9ca3af;

    line-height:1.8;

    font-size:20px;

    margin-bottom:40px;
}

.hero-buttons{

    display:flex;

    justify-content:center;

    gap:20px;
}

.primary-btn{

    background:#38bdf8;

    color:white;

    border:none;

    padding:14px 28px;

    border-radius:12px;

    cursor:pointer;
}

.secondary-btn{

    background:transparent;

    color:white;

    border:2px solid #38bdf8;

    padding:14px 28px;

    border-radius:12px;

    cursor:pointer;
}

.hero-right{

    flex:1;

    display:flex;

    justify-content:center;

    align-items:center;
}

.profile-image{

    width:350px;

    height:350px;

    object-fit:cover;

    border-radius:50%;

    border:5px solid #38bdf8;

    box-shadow:0 0 40px rgba(56,189,248,.4);

    transition:0.4s;
}

.profile-image:hover{

    transform:scale(1.05);
}