:root{
    --bg-color:#0f172a;
    --secondary-bg:#1e293b;
    --primary-color:#38bdf8;
    --text-color:#ffffff;
    --text-secondary:#94a3b8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background:var(--bg-color);
}

#root {
  min-height: 100vh;
}